.lottery{
    height:80vh;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
  
    color: #fff;
  }
  .block{
    background-color: #1d2839;
  }
  .players{
    margin-left: 5px;
    padding-top: 10px;
  }
  .list-players{
    overflow: auto;
    text-align: left;
    margin-top: 15px;
    height: 65vh;
    margin-bottom: 15px;
  }
  .list-players > ul > li{
    margin-top: 15px !important;
  }
  .list-players > ul > li > span.text{
    text-align: right !important;
  }
  
  .enter{
    padding: 50px;
  }
  .enter .btn{
    margin-top:10px;
  }